<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>Ergonomic Test ENV</Name>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vZXJnb25vbWljLXNvbHV0aW9uc3Rlc3QuY3JtNC5keW5hbWljcy5jb207VXNlcm5hbWU9ZHRtcnVkQGVyZ29ub21pYy1zb2x1dGlvbnMuZGs7UGFzc3dvcmQ9J0taWEZLNFBkJztBdXRoVHlwZT1PZmZpY2UzNjU7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.2.2.113</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/css/kendo.bootstrap-v4.min.css</Path>
      <WebResourceId>6b385ef1-22be-e711-80ee-3863bb35bc00</WebResourceId>
      <WebResourceName>dyna_/css/kendo.bootstrapv4.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/css/kendo.bootstrap.min.css</Path>
      <WebResourceId>a6c2cafd-22be-e711-80ee-3863bb35bc00</WebResourceId>
      <WebResourceName>dyna_/css/kendo.bootstrap.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/css/kendo.default.min.css</Path>
      <WebResourceId>a909e203-23be-e711-80ee-3863bb35bc00</WebResourceId>
      <WebResourceName>dyna_/css/kendo.default.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/html/OpportunityProductInlineGrid.html</Path>
      <WebResourceId>1229f209-23be-e711-80ee-3863bb35bc00</WebResourceId>
      <WebResourceName>dyna_/html/OpportunityProductInlineGrid.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/imagebrowser.png</Path>
      <WebResourceId>7729f209-23be-e711-80ee-3863bb35bc00</WebResourceId>
      <WebResourceName>dyna_/images/imagebrowser.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/editor.png</Path>
      <WebResourceId>d9faf30f-23be-e711-80ee-3863bb35bc00</WebResourceId>
      <WebResourceName>dyna_/images/editor.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/indeterminate.gif</Path>
      <WebResourceId>e7039ec0-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/indeterminate.gif</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/loading-image.gif</Path>
      <WebResourceId>94ade4cc-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/loadingimage.gif</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/loading.gif</Path>
      <WebResourceId>165ffed2-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/loading.gif</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/loading_2x.gif</Path>
      <WebResourceId>22fb42d9-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/loading_2x.gif</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/markers.png</Path>
      <WebResourceId>53e757df-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/markers.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/markers_2x.png</Path>
      <WebResourceId>aee757df-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/markers_2x.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/slider-h.gif</Path>
      <WebResourceId>0cea4aeb-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/sliderh.gif</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/slider-v.gif</Path>
      <WebResourceId>b7e22cf2-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/sliderv.gif</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/sprite.png</Path>
      <WebResourceId>8c3225f8-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/sprite.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/sprite_2x.png</Path>
      <WebResourceId>e73225f8-33be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/sprite_2x.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/sprite_kpi.png</Path>
      <WebResourceId>f4333704-34be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/sprite_kpi.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/images/sprite_kpi_2x.png</Path>
      <WebResourceId>68343704-34be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/images/sprite_kpi_2x.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/scripts/jquery.min.js</Path>
      <WebResourceId>0796400a-34be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/scripts/jquery.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/scripts/kendo.all.min.js</Path>
      <WebResourceId>adfa3516-34be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/scripts/kendo.all.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/scripts/kendo.aspnetmvc.min.js</Path>
      <WebResourceId>eefa3516-34be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/scripts/kendo.aspnetmvc.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/scripts/kendo.color.min.js</Path>
      <WebResourceId>0f8bb01d-34be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/scripts/kendo.color.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/scripts/kendo.grid.min.js</Path>
      <WebResourceId>0b2d5d25-34be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/scripts/kendo.grid.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/scripts/productTest.js</Path>
      <WebResourceId>6dece85c-34be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/scripts/productTest.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/scripts/json2.js</Path>
      <WebResourceId>99e9d132-44be-e711-80ed-3863bb34da40</WebResourceId>
      <WebResourceName>dyna_/scripts/json2.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/css/kendo.common.min.css</Path>
      <WebResourceId>3668f714-7bbe-e711-80ee-3863bb35bc00</WebResourceId>
      <WebResourceName>dyna_/css/kendo.common.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>e195c4ba-fbb0-4d2c-b5a3-233cbd70c2fb</OrgId>
      <Path>/scripts/Opportunity_JScript.js</Path>
      <WebResourceId>b42162e5-75e1-e711-80f4-3863bb347d08</WebResourceId>
      <WebResourceName>dyna_/scripts/Opportunity_JScript.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>