<SolutionPackager>
  <Connections>
    <Connection>
      <Name>KUBE</Name>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8va3ViZWNybS5jcm00LmR5bmFtaWNzLmNvbTtVc2VybmFtZT1zbWhAa3ViZWNybS5vbm1pY3Jvc29mdC5jb207UGFzc3dvcmQ9J05hZ3NpMjQwOCc7QXV0aFR5cGU9T2ZmaWNlMzY1O1JlcXVpcmVOZXdJbnN0YW5jZT10cnVlOw==</ConnectionString>
      <Version>8.2.1.411</Version>
    </Connection>
  </Connections>
  <Solutions>
    <Solution>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <ProjectName>KUBE.Booking.SolutionPackage</ProjectName>
      <SolutionId>99b0f2b4-5eac-e711-80e7-3863bb35ff88</SolutionId>
      <DownloadManaged>false</DownloadManaged>
    </Solution>
  </Solutions>
</SolutionPackager>