<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>KU.BE</Name>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8va3ViZWNybS5jcm00LmR5bmFtaWNzLmNvbTtVc2VybmFtZT1zbWhAa3ViZWNybS5vbm1pY3Jvc29mdC5jb207UGFzc3dvcmQ9J05hZ3NpMjQwOCc7QXV0aFR5cGU9T2ZmaWNlMzY1O1JlcXVpcmVOZXdJbnN0YW5jZT10cnVlOw==</ConnectionString>
      <Version>8.2.2.136</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/html/AllResourceEquipmentGrid.html</Path>
      <WebResourceId>174e28a9-69c8-e711-80ea-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_/html/AllResourceEquipmentGrid.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/html/dyna_ConfirmationEmail.html</Path>
      <WebResourceId>8e3e11b9-76ae-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_ConfirmationEmail.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/css/bootstrap.min.css</Path>
      <WebResourceId>279301b1-edc9-e711-80ed-1458d043a400</WebResourceId>
      <WebResourceName>dyna_/css/bootstrap.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/css/kendo.bootstrap.min.css</Path>
      <WebResourceId>c8f594c3-50c8-e711-80ea-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_/css/kendo.bootstrap.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/css/kendo.bootstrap-v4.min.css</Path>
      <WebResourceId>71f50ec4-6ac8-e711-80ea-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_/css/kendo.bootstrapv4.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/css/kendo.common.min.css</Path>
      <WebResourceId>4c6a94c9-50c8-e711-80ea-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_/css/kendo.common.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/css/kendo.default.min.css</Path>
      <WebResourceId>946a94c9-50c8-e711-80ea-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_/css/kendo.default.min.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Check100.png</Path>
      <WebResourceId>ef2a70df-7ab9-e711-80e9-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_Check100</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Check32.png</Path>
      <WebResourceId>3c9991cf-79b9-e711-80e9-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_Check32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icon_barcode_16x16.png</Path>
      <WebResourceId>45c205e6-bb9e-e711-80e1-3863bb349778</WebResourceId>
      <WebResourceName>dyna_icon_barcode_16x16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icon_barcode_32x32.png</Path>
      <WebResourceId>be1f1a4e-cf9e-e711-80e1-3863bb349778</WebResourceId>
      <WebResourceName>dyna_icon_barcode_32x32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icon_flag_16x16.png</Path>
      <WebResourceId>2b32c2bf-de9d-e711-80e1-3863bb349778</WebResourceId>
      <WebResourceName>dyna_icon_flag_16x16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icon_flag_32x32.png</Path>
      <WebResourceId>276c02e4-de9d-e711-80e1-3863bb349778</WebResourceId>
      <WebResourceName>dyna_icon_flag_32x32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icon_language_16x16.png</Path>
      <WebResourceId>d5f653ee-d99d-e711-80e1-3863bb349778</WebResourceId>
      <WebResourceName>dyna_icon_language_16x16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icon_language_32x32.png</Path>
      <WebResourceId>332a70be-d99d-e711-80e1-3863bb349778</WebResourceId>
      <WebResourceName>dyna_icon_language_32x32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8AskQuestion16.png</Path>
      <WebResourceId>ea23f2a2-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8AskQuestion16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8AskQuestion32.png</Path>
      <WebResourceId>f32b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8AskQuestion32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Class16.png</Path>
      <WebResourceId>4fdbf99c-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Class16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Class32.png</Path>
      <WebResourceId>c92b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Class32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Classroom16.png</Path>
      <WebResourceId>64dbf99c-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Classroom16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Classroom32.png</Path>
      <WebResourceId>db2b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Classroom32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Design16.png</Path>
      <WebResourceId>52dbf99c-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Design16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Design32.png</Path>
      <WebResourceId>cc2b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Design32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Diploma16.png</Path>
      <WebResourceId>58dbf99c-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Diploma16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Diploma32.png</Path>
      <WebResourceId>d22b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Diploma32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8NewTicket16.png</Path>
      <WebResourceId>db23f2a2-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8NewTicket16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8NewTicket32.png</Path>
      <WebResourceId>e42b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8NewTicket32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Questionnaire16.png</Path>
      <WebResourceId>e423f2a2-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Questionnaire16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Questionnaire32.png</Path>
      <WebResourceId>ed2b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Questionnaire32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Rocket16.png</Path>
      <WebResourceId>55dbf99c-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Rocket16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Rocket32.png</Path>
      <WebResourceId>cf2b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Rocket32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8SortingOptions16.png</Path>
      <WebResourceId>6adbf99c-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8SortingOptions16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8SortingOptions32.png</Path>
      <WebResourceId>e12b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8SortingOptions32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8SubmitResume16.png</Path>
      <WebResourceId>5edbf99c-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8SubmitResume16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8SubmitResume32.png</Path>
      <WebResourceId>d52b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8SubmitResume32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8TestPartialPassed16.png</Path>
      <WebResourceId>de23f2a2-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8TestPartialPassed16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8TestPartialPassed32.png</Path>
      <WebResourceId>e72b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8TestPartialPassed32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8TestPassed16.png</Path>
      <WebResourceId>e723f2a2-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8TestPassed16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8TestPassed32.png</Path>
      <WebResourceId>f02b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8TestPassed32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8TimeLimit16.png</Path>
      <WebResourceId>61dbf99c-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8TimeLimit16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8TimeLimit32.png</Path>
      <WebResourceId>d82b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8TimeLimit32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Toolbox16.png</Path>
      <WebResourceId>e123f2a2-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Toolbox16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Toolbox32.png</Path>
      <WebResourceId>ea2b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Toolbox32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Training16.png</Path>
      <WebResourceId>67dbf99c-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Training16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_icons8Training32.png</Path>
      <WebResourceId>de2b54bb-c1ad-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_icons8Training32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_mail_icon16.png</Path>
      <WebResourceId>3455ca6c-80ae-e711-80e7-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_mail_icon16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_mail_icon32.png</Path>
      <WebResourceId>0c6653af-80ae-e711-80e7-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_mail_icon32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Material_editor.png</Path>
      <WebResourceId>57c824c3-91ae-e711-80e7-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_Material_editor.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Material_markers.png</Path>
      <WebResourceId>f229490b-92ae-e711-80e7-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_Material_markers.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Material_markers_2x.png</Path>
      <WebResourceId>135b7a2f-92ae-e711-80e7-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_Material_markers_2x.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Material_sprite.png</Path>
      <WebResourceId>6f076841-92ae-e711-80e7-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_Material_sprite.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Material_sprite_2x.png</Path>
      <WebResourceId>3a88ca53-92ae-e711-80e7-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_Material_sprite_2x.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Material_sprite_kpi.png</Path>
      <WebResourceId>9624bb5f-92ae-e711-80e7-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_Material_sprite_kpi.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Material_sprite_kpi_2x.png</Path>
      <WebResourceId>7248b56b-92ae-e711-80e7-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_Material_sprite_kpi_2x.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_palette_16x16.png</Path>
      <WebResourceId>9ce5f9dc-81c0-e711-80ed-1458d043a400</WebResourceId>
      <WebResourceName>dyna_palette_16x16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_palette_32x32.png</Path>
      <WebResourceId>bd95f4e8-81c0-e711-80ed-1458d043a400</WebResourceId>
      <WebResourceName>dyna_palette_32x32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_subbooking_icon_16.png</Path>
      <WebResourceId>3ce36b99-2ab0-e711-80ea-1458d043a400</WebResourceId>
      <WebResourceName>dyna_subbooking_icon_16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_subbooking_icon_32.png</Path>
      <WebResourceId>63286aa7-2ab0-e711-80ea-1458d043a400</WebResourceId>
      <WebResourceName>dyna_subbooking_icon_32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Table16.png</Path>
      <WebResourceId>9ff65473-7cb9-e711-80e9-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_Table16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Table32.png</Path>
      <WebResourceId>f3f995a8-7cb9-e711-80e9-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_Table32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Ticket100.png</Path>
      <WebResourceId>d019737b-7ab9-e711-80e9-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_Ticket100</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Ticket16.png</Path>
      <WebResourceId>65f26288-79b9-e711-80e9-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_Ticket16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/dyna_Ticket32.png</Path>
      <WebResourceId>35e143ab-79b9-e711-80e9-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_Ticket32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/equipment/light.png</Path>
      <WebResourceId>d68b5de9-01ca-e711-80ea-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_/images/equipment/light.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/equipment/chair.png</Path>
      <WebResourceId>fed655ef-01ca-e711-80ea-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_/images/equipment/chair.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/equipment/pa_system.png</Path>
      <WebResourceId>2faa76f5-01ca-e711-80ea-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_/images/equipment/pa_system.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/equipment/projector.png</Path>
      <WebResourceId>d3f2acfb-01ca-e711-80ea-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_/images/equipment/projector.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/equipment/table.png</Path>
      <WebResourceId>4ed22708-02ca-e711-80ea-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_/images/equipment/table.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/images/equipment/whiteboard.png</Path>
      <WebResourceId>7ff8a320-02ca-e711-80ea-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_/images/equipment/whiteboard.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>