<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>KU.BE</Name>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8va3ViZWNybS5jcm00LmR5bmFtaWNzLmNvbTtVc2VybmFtZT1zbWhAa3ViZWNybS5vbm1pY3Jvc29mdC5jb207UGFzc3dvcmQ9J05hZ3NpMjQwOCc7QXV0aFR5cGU9T2ZmaWNlMzY1O1JlcXVpcmVOZXdJbnN0YW5jZT10cnVlOw==</ConnectionString>
      <Version>8.2.2.128</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/dyna_SDK_metadata.js</Path>
      <WebResourceId>fe529bae-23b0-e711-80e8-3863bb343dc8</WebResourceId>
      <WebResourceName>dyna_SDK_metadata.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/dyna_ConfirmationEmail.html</Path>
      <WebResourceId>8e3e11b9-76ae-e711-80e9-1458d043a400</WebResourceId>
      <WebResourceName>dyna_ConfirmationEmail.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>4be268c1-6e87-4d85-85de-c5fabedcb10a</OrgId>
      <Path>/dyna_schedulerfilter_form.js</Path>
      <WebResourceId>149ecaf5-a5c0-e711-80ea-3863bb35ff88</WebResourceId>
      <WebResourceName>dyna_schedulerfilter_form.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>